body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1,h2{
    text-align: center;
}

.input-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

.input-section label{
    margin-right: 0px;
    font-weight: bold;
}

.input-section input[type="text"], input[type="number"]{
    padding: 5px;
    margin-right: 10px;
}

.input-section button{
    padding: 5px 10px;
    background-color: rgb(173, 243, 68);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

button:hover{
    background-color: greenyellow;
}

button:active{
    background-color: rgb(202, 236, 150);
}

.expense-list{
    margin: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid;
    padding: 8px;
    text-align: left;
}

tfoot td{
    font-weight: bold;
}

th{
    background-color: aqua;
}

.delete-btn{
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    border: none;
    border-radius: 6px;
}

.delete-btn:hover{
    background-color: rgb(241, 27, 27);
}

.delete-btn:active{
    background-color: rgb(248, 99, 99);
}

#convert{
    border: 0;
    border-radius: 5px;
    color: black;
    background-color: green;
}

#convert:hover{
    background-color: greenyellow;
}

#convert:active{
    background-color: rgb(220, 241, 188);
}

h3{
    font-style: italic;
}